@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
  --padding-container: 100px 0;
  --color-title: #001A49;
}

body{
  font-family: 'Poppins', sans-serif;
  
}

.container{
  /* width: 90%; */
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero{
  width: 100%;
  height: 100vh;
  min-height: 600px;
  /* max-width: 800px; */
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fbf5f5;
}



/* Nav */
.nav{
  --padding-container: 0;
  height: 100%;
  width: 100%;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;

}


.nav__title{
  font-weight: 300;
  height: 100%;
  display: flex;
  align-items: center;

}

.nav__link{
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav__items{
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__menu{
  margin-left: auto;
  cursor: pointer;
  display: none;
}
.nav__links{
  color: #fff;
  text-decoration: none;
}

.nav__img{
  display: block;
  width: 30;
}

.nav__close{
  /* display: var(--show, none); */
}

/* HERO CONTAINER */
.hero::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000007c 0, #0000008c 100%), linear-gradient(to left bottom, #38093f, #31082b, #26071c, #1a040e, #000000);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

.hero__container{
  grid-row: 2/3;
  max-width: 800px;
  --paddin-container:0;
  display: grid;
  grid-template-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero__title{
  font-size: 4rem;
  margin-bottom: 12px;
}

.hero__paragraph{
  margin-bottom: 20px;
  color: rgb(218, 218, 218);

}

main{
  margin: 3em;
}

/* section head */

.head{
  display: flex;
  justify-content: space-between;
  
  font-family: 'Playfair Display', serif;
  color: #26071c;
}



.icon-card{
  width: 40px;
  height: 40px;
  justify-content: space-around;
  
  stroke: #000000;
}

.icon-card:hover{
  cursor: pointer;
}

.container-icons{
  position: relative;
}

.count-products{
  position: absolute;
  top: 55%;
  right: 0;

  background-color: #000000;
  color: #fff;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  

}

#contador-productos{
  font-size: 12px;
}

.continer-cart-products{
  position: absolute;
  top: 5px;
  right: 0;

  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgb(0, 0, 0,0.20);
  border-radius: 10px;
}

.cart-product{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  /* linea */
  border-bottom: 1px solid rgb(0, 0, 0,0.20);
}

.info-cart-product{
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito{
  font-size: 20px;
}
.precio-producto-carrito{
  font-weight: normal;
  font-size: 20px;
  margin-left: 10px;

}
.cantidad-producto-carrito{
  font-weight: 400px;
  font-size: 20px;
}

.icon-close{
  width: 25px;
  height: 25px;
}

.icon-close:hover{
  stroke: red;
  cursor: pointer;
}

.cart-total{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 ;
  gap: 20px;
  
}

.cart-total h3{
  font-size: 20px;
  font-weight: 700;
}

.total-pagar{
  font-size: 20px;
  font-weight: 900;
}
.hidden-cart{
  display: none;
}
/* knowledge */

/* .knowledge {
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  overflow: hidden;
} */

.knowledge__container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  background-color: #fff;
  padding: 3em;
  place-items: center;
  
  
}

.knowledge__texts{
  border-radius: 10px;
  display: grid;
  height: 300px;
  /* width: 600px; */
}



.knowledge__texts img{
  width: 100px;
 /*  height: 100%; */
  /* object-fit: cover; */
  border-radius: 20px 20px 0 0;
  align-items: center;
  transition: all .4s;
}

.knowledge__texts figure{
  overflow: hidden;
}

.knowledge__texts:hover {
  box-shadow: 10px 20px 25px 10px #26071c;
}


.knowledge__paragraph{
  overflow: hidden;
  margin: 10px;
  
}

.info-product{
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
}

.price{
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}

.info-product button{
  border: none;
  background: none;
  background-color: #000000;
  color: #fff;
  pad: 15px 10px;
  cursor: pointer;
  width: 149px;
  display: flex;
  flex-direction: center;
  align-items: center;
}
button{
  align-items: center;
  align-self: end;
  border-radius: 10px;
}










/* informacion final*/

footer{
  background: #636163b0;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #000000;
}

.content-foo{
  text-align: center;
}

.content-foo h4{
  color: #000000;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p{
  color: #000000;
}
.titulo-final{
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #000000;
}

.ultimo{
  background: #ede7ee5a;
  color: #fbf5f5;
}
