@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
  --padding-container: 100px 0;
  --color-title: #001A49;
}

body{
  font-family: 'Poppins', sans-serif;
  background: #38093f5a;
}

.container{
  /* width: 90%; */
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero{
  width: 100%;
  height: 100vh;
  min-height: 600px;
  /* max-width: 800px; */
  /* position: relative; */
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fbf5f5;
}



/* Nav */
.nav{
  --padding-container: 0;
  height: 100%;
  width: 100%;
  grid-row: 1/2;

  display: flex;
  justify-content: space-between;
/*   display: flex; */
}


.nav__title{
  font-weight: 300;
  height: 100%;
  display: flex;
  align-items: center;

}

.nav__link{
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav__items{
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__menu{
  margin-left: auto;
  cursor: pointer;
  display: none;
}
.nav__links{
  color: #fff;
  text-decoration: none;
}

.nav__img{
  display: block;
  width: 30;
}

/* .nav__close{
  display: var(--show, none);
} */

/* HERO CONTAINER */
.hero::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000007c 0, #0000008c 100%), linear-gradient(to left bottom, #38093f, #31082b, #26071c, #1a040e, #000000);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

.hero__container{
  grid-row: 2/3;
  max-width: 800px;
  --paddin-container:0;
  display: grid;
  grid-template-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero__title{
  font-size: 4rem;
  margin-bottom: 12px;
}

.hero__paragraph{
  margin-bottom: 20px;
  color: rgb(218, 218, 218);

}

h1{
  display: flex;
  align-items: center;
  text-align: center;
}

img{
  height: 100%;
}

.comparative-container{
  display: grid;
  grid-template-rows: 250px 1fr;
  place-items: center;
}

/* Cuadro comparativo */

.cuadro{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td{
  border: 1px solid #4f4b4b;
  padding: 8px;
}

.but{
  text-align: center;
}
.buton{
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);

}



   /* botom */
  
#descargarBtn {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

/* comparative */

.comparative-container{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* informacion final*/

footer{
  background:#ffffff;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #000000;
}

.content-foo{
  text-align: center;
}

.content-foo h4{
  color: #000000;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p{
  color: #000000;
}
.titulo-final{
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #434040;
}

.ultimo{
  background: #38093f5a;
  color: #fbf5f5;
}

